doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title FullStack Vietnam
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=vietnamese" rel="stylesheet")
		link(rel="stylesheet", href="./css/thuvien.css")
		link(rel="stylesheet", href="./css/main.css")
	body
		//- include header
		main 
			block main
		//- include footer
		script(src="./js/thuvien.js")
		script(src="./js/main.js")
		
