extends _layout/layout.pug
block main
    .container
        .row
            .col-sm-6
                .abc
                    p.luong annnnnnnnnnnn
                    p.luong annnnnnnnnnnn
                    p.luong annnnnnnnnnnn
                    p.luong annnnnnnnnnnn
                    p.luong annnnnnnnnnnn
                