extends _layout/layout.pug
block main
    header
        .container
            .row
                .col-12
                    .row
                        .col-2
                            p
                                img(src="img/logo.png", alt="")
                        .col-10
                            nav.navbar.navbar-expand-lg.navbar-light
                                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                                    span.navbar-toggler-icon
                                #navbarNav.collapse.navbar-collapse
                                    ul.navbar-nav
                                        li.nav-item
                                        li.nav-item
                                            a.nav-link.active(href='#') HOME
                                        li.nav-item
                                            a.nav-link(href='#') ABOUT
                                        li.nav-item
                                            a.nav-link(href='#') SERVICES
    section.luongdzai
        h1.text-center Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
        p.text-center
            a.btn.btn-luong(href="#") WORKS WITH US!
    section.luongdzai02
        .container
            .row
                .col-12
                    h2.text-center SERVICES WE PROVIDE
                .col-12
                    p.text-center.luong We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
            .row
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center 
                                img(src="img/home_icon_1.png", alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/home_icon_2.png", alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/home_icon_3.png", alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/home_icon_4.png", alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
    section.luongdzai03
        .container
            .row
                .col-12
                    h3.text-center MEET OUR BEAUTIFUL TEAM
                .col-12
                    p.text-center.luong We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
            .row
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center 
                                img(src="img/icon-our-01.png", width=200 alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/icon-our-02.png", width=200 alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/icon-our-03.png", width=200 alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
                .col-12.col-sm-12.col-md-6.col-lg-3
                    .row
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong01.text-center
                                img(src="img/icon-our-04.png", width=200 alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            p.luong02.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, distinctio, quis architecto eo
    section.luongdzai07
        .container
            .row
                .col-12
                    p.text-center.gay WE GOT SKILL
                .col-12
                    p.text-center.luong Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .row
                .col-md-3.col-sm-6
                    .progress.blue
                        span.progress-left
                            span.progress-bar
                        span.progress-right
                            span.progress-bar
                        .progress-value 90%
                    p.text-center.mt-2.gay01 WEB DESIGN
                .col-md-3.col-sm-6
                    .progress.blue
                        span.progress-left
                            span.progress-bar
                        span.progress-right
                            span.progress-bar
                        .progress-value 80%
                    p.text-center.mt-2.gay01 HTML / CSS     
                .col-md-3.col-sm-6
                    .progress.blue
                        span.progress-left
                            span.progress-bar
                        span.progress-right
                            span.progress-bar
                        .progress-value 90%
                    p.text-center.mt-2.gay01 GRAPHIC DESIGN
                .col-md-3.col-sm-6
                    .progress.blue
                        span.progress-left
                            span.progress-bar
                        span.progress-right
                            span.progress-bar
                        .progress-value 75%
                    p.text-center.mt-2.gay01 UI / UX     
    section.luongdzai04
        .container
            .row
                .col-12
                    h4.text-center OUR PORTFOLIO
                .col-12
                    p.text-center.luong Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .row
                .col
                    p.text-center
                        a.btn.btn-luong(href="#") ALL
                        a.btn.btn-luong(href="#") ALL
                        a.btn.btn-luong(href="#") ALL
                        a.btn.btn-luong(href="#") ALL
            .row
                .col-12.col-md-12.col-lg-12
                    .row
                        .col-12.col-lg-6
                            p.luong01.text-center
                                img(src="img/icon-por-01.png", .img-fluid .thumbnail alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-lg-6
                            p.luong01.text-center
                                img(src="img/icon-por-02.png", .img-fluid .thumbnail alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-lg-6
                            p.luong01.text-center
                                img(src="img/icon-por-03.png", .img-fluid .thumbnail alt="")
                                p.luong03.text-center BANDING
                        .col-12.col-lg-6
                            p.luong01.text-center
                                img(src="img/icon-por-04.png", .img-fluid .thumbnail alt="")
                                p.luong03.text-center BANDING
                    p.text-center.luong00
                        a.btn.btn-luong01(href="#") LOAD MORE PROJECT
    section.luongdzai05
        .container
            .row
                .col-12
                    h5.text-center WHAT PEOPLE SAY ABOUT US
                .col-12
                    p.text-center.luong Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .row
                - for (x=0;x<4;x++)
                    .col-12.col-lg-6.col-md-12
                        .row
                            .col-12.col-lg-3.col-md-3
                                figure.luong01
                                    img(src="img/people.png", .img-fluid alt="")
                            .col-12.col-lg-9.col-md-9.pb-4
                                p.luong03 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error omnis, illo repudiandae voluptas nemo iusto est dolore illum atque natus
                                p.luong04 NGUYEN DINH LUONG
    section.luongdzai06
        .container
            .row
                .col-12
                    h6.text-center FULLSTACK VIETNAM
                .col-12
                    p.text-center.luong Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .row
                .col-12
                    .row
                        .col-6.col-lg-6
                            <input type="text" class="form-control" placeholder="Your name*">
                        .col-6.col-lg-6.mb-4
                            <input type="text" class="form-control" placeholder="Your name*">
                    .row
                        .col-12.mb-4
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Your message*"></textarea>
            p.text-center.luong00
                        a.btn.btn-luong01(href="#") LOAD MORE PROJECT
        

                

                    
                
            
            